$link_5: #00aeef;

$blue_5: #00aeef;
$blue_6: #0e6bc2;
$blue_10: #364ea2;
$blue_15: #102269;
$blue_20: #161d39;


$yellow_1: #f9bc06;
$yellow_5: #f9bc06;

$red_5: #D91812;
$red_10: #a80903;

$purple_5:  #f4f5f9;
$purple_6: #e9eaf2;
$purple_10: #4d0f98;
$purple_15: #360a6b;

$teal_10: #037b9e;
$teal_15: #034c61;

$crimson_10: #E11466;
$crimson_15: #a40243;

$orange_15: #f56A00;

$grey_1:  #f1ecea; /* separator default*/
$grey_5:  #e3e4e2;
$grey_6:  #ccc;
$grey_10: #757575;
$grey_15: #53555b;
$grey_20: #333333;
$grey_25: #16191c;

$white_5: #fff;